@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

.codeinput {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: center;
}

.body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.dash {
  color: #e0e0de;
  font-size: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.codeinput span,
input {
  align-items: center;
  background-color: rgb(246 246 246);
  border: 2px solid #f5f4f2;
  border-radius: 16px;
  caret-color: transparent;
  color: rgb(226 226 222);
  display: flex;
  font-size: 32px;
  height: 60px;
  justify-content: center;
  outline: none;
  text-align: center;
  width: 54px;
  padding: 0;
}

input::placeholder {
  color: #d4d4d1;
  font-size: 32px;
  text-align: center;
}

.focused-input {
  border: 3px solid #007bff;
  border-radius: 16px;
  height: 60px;
  pointer-events: none;
  transform: translateX(27px);
  transition: ease 0.2s;
  width: 54px;
}

.wrong {
  animation: wrong 0.2s ease-in-out;
}

@keyframes wrong {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.text-animation {
  animation: text-opacity 0.2s ease-in-out;
}

@keyframes text-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.codeinput:has(input:disabled) {
  .focused-input {
    border: 0 solid #f5f4f2;
  }

  input {
    opacity: 0.5;
  }
}

.codeinput:not(:has(input:focus)) {
  .focused-input {
    border: 0 solid #f5f4f2;
  }
}


body{
  margin: 0px;
}


html {
  background-color: rgb(18,18,18);
}

body {
  font-family: "Rethink Sans", sans-serif !important;
  margin: 0;
}